:root{
    --main-color:#d3ad7f;
    --pastel:#FEFAE0;
    --bg: #FAFAFA;
    --border:0.1rem solid rgb(74, 73, 71);
    font-size: 10px;
}


* {
 margin: 0;
 padding: 0;
 outline: none;
 border: none;
 text-decoration: none;
 text-transform: capitalize;
 transition: 0.2 linear;
 font-family: "Roboto", sans-serif;

}

body{
    background-color: var(--bg);
}

/* 
  Section:
  Define uma estrutura padrão para as seções, com espaçamento interno (padding),
  largura máxima e alinhamento centralizado.
*/
section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}
/* 
  Header:
  Configura o cabeçalho para ficar fixo no topo da página com uma borda inferior.
  Também define sua prioridade visual com z-index.
*/
.header{

    position: fixed; /* Mantém o cabeçalho no topo mesmo ao rolar a página */
    top:0;
    left:0;
    right:0;
    z-index: 99;     /* Garante que o cabeçalho fique acima de outros elementos */
    border-bottom: var(--border);
}


/* 
  Header Section:
  Organiza os elementos do cabeçalho em linha com espaçamento apropriado.
*/

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;


}

.navbar a {
  margin: 0 1rem;
  font-size: 1.8rem;
  color: #000000;

}

/* 
  o navbar no hover significa que oseja quando eu passar o mouse por cima desses icones eu quero que mude algumas coisas
*/
.navbar a:hover{   
    color: var(--main-color);
    border-bottom:0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

.icons img {
  margin: 1rem;
  cursor: pointer;
}

.icons img:hover{

  width: 40px;
  height: 40px;
}